h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}

section{
    display: flex;
    
}

.half-width{
    width: 50%;
  padding-left:5% ;
}
.half-width img{
    width:80%;
    margin-top: 10%;
   
}
 .link-btn{
    text-decoration: none;
    background-image:linear-gradient(#F78868, YELLOW);
    padding: 10px 30px;
    color:black;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    

}
.bodyimage{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    

}
body{
    margin: 0;
}